@charset "utf-8";
/* *
 * MeasureToolbar
 * */
.MMControlMeasureToolbar div {

    float: left;
}
.MMControlMeasureToolbar {
    left: 0;
    top: 0;
	margin: 10px 0px 50px 40px;
}


.MMControlMeasureToolbar div {
	background-image: url("../imgs/editing_tool_bar_64.png");
	background-repeat: no-repeat;
	margin: 0 0 5px 5px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background-size: 159px 64px;
	-moz-background-size: 159px 64px;
	-webkit-background-size: 159px 64px;
}
.olControlNavToolbar .olControlNavigationItemInactive,
.MMControlMeasureToolbar .olControlNavigationItemInactive {
	background-position: 0px 0px;
}
.olControlNavToolbar .olControlNavigationItemActive ,
.MMControlMeasureToolbar .olControlNavigationItemActive  {
	background-position: 0px -32px;
}

.MMControlMeasureToolbar .olControlDrawFeaturePointItemInactive {
	background-position: -32px 0px;
}
.MMControlMeasureToolbar .olControlDrawFeaturePointItemActive {
	background-position: -32px -32px;
}

.MMControlMeasureToolbar .olControlDrawFeaturePathItemInactive {
	background-position: -64px  0px;
}
.MMControlMeasureToolbar .olControlDrawFeaturePathItemActive {
	background-position: -64px -32px;
}  

.MMControlMeasureToolbar .olControlDrawFeaturePolygonItemInactive{
	background-position: -96px 0px;
}
.MMControlMeasureToolbar .olControlDrawFeaturePolygonItemActive {
	background-position: -96px -32px;
}


.MMControlMeasureToolbar .olControlZoomBoxItemInactive {
    background-position: -128px -1px;
}
.MMControlMeasureToolbar .olControlZoomBoxItemActive  {
    background-position: -128px -24px;
}

.MMControlMeasureToolbar .olControlZoomToMaxExtentItemInactive {

    background-position: -1px -1px;
}
.MMControlMeasureToolbar .olControlZoomToMaxExtentItemActive {

    background-position: -1px -24px;
}